<div class="main-container">
    <div class="padding-md">
        <h3 class="header-text m-bottom-sm">管理员管理</h3>
        <div class="row" style="margin-bottom: 5px;">
            <div class="addButton">
                <button class="btn  btn-sm btn-success "  type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    <span class="fa fa-plus fa-lg" aria-hidden="true"></span>&nbsp;添加
                </button>
            </div>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>用户名</th>
                    <th>电话</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cc in administInfor">
                    <td ng-bind="cc.username" class="ng-binding"></td>
                    <td ng-bind="cc.phone" class="ng-binding"></td>
                    <td>
                        <span class="fa fa-pencil-square-o fa-lg btn btn-primary marginTB-xs" title="编辑" ng-click="editButtonClick($index)" data-toggle="modal" data-target="#myModa2"></span>
                        <span ng-if="cc.username != 'admin'" class="fa fa-trash fa-lg btn  btn-danger marginTB-xs ng-scope" title="删除" ng-click="deleteButton($index)"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 添加管理员信息Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">添加管理员信息</h4>
                    </div>
                    <div class="modal-body">
                        <div class="smart-widget-inner">
                            <div class="smart-widget-body">
                                <form id="formToggleLine" class="form-horizontal no-margin form-border ng-pristine ng-valid">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">用户名</label>
                                        <div class="col-lg-9">
                                            <input type="text" id="userName" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="请输入用户名" ng-model="username" required>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <!-- 密码 -->
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">密码</label>
                                        <div class="col-lg-9">
                                            <input type="password"  class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="请输入密码" ng-model="password" required>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <!-- 电话 -->
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">电话</label>
                                        <div class="col-lg-9">
                                            <input type="number" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="请输入电话" ng-model="phone" required>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <!-- 角色 -->
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">角色</label>
                                        <div class="col-lg-9">
                                            <select type="text" ng-options="x.name for x in roleInfor" ng-model="roleId"   class="form-control ng-pristine ng-untouched ng-valid ng-empty" required></select>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <button class="btn btn-success btn-lg btn-block" data-dismiss="modal"  ng-click="confirmAddAdministrator()">确定
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--编辑管理员信息modal-->
        <div class="modal fade" id="myModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" >编辑管理员信息</h4>
                    </div>
                    <div class="modal-body">
                        <div class="smart-widget-inner">
                            <div class="smart-widget-body">
                                <form  class="form-horizontal no-margin form-border ng-pristine ng-valid">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">用户名</label>
                                        <div class="col-lg-9">
                                            <input type="text"  class="form-control" ng-model="administEditName">
                                        </div>
                                    </div>
                                    <!-- 密码 -->
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">密码</label>
                                        <div class="col-lg-9">
                                            <input type="password"  class="form-control" placeholder="请输入密码" ng-model="pass">
                                        </div>
                                    </div>
                                    <!-- 电话 -->
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">电话</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" ng-model="administEditPhone">
                                        </div>
                                    </div>
                                    <!-- 角色 -->
                                    <div class="form-group" >
                                        <label class="col-lg-3 control-label">角色</label>
                                        <div class="col-lg-9">
                                            <select class="form-control">
                                                <option selected="selected">{{administEditRole}}</option>
                                                <option ng-repeat="value in roleInfor">{{value.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <button class="btn btn-success btn-lg btn-block" data-dismiss="modal" ng-click="updateButtonClick()">确定</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>