            <p class="input-group" ng-controller="inspectReFJ">
                <input type="text" class=" form-control" uib-datepicker-popup ng-model="d"
                       is-open="popup1.opened" datepicker-options="dateOptions"
                       ng-required="true" close-text="Close" placeholder=""/>
                <span class="input-group-btn">
                                    <button type="button" class="btn  btn-default" ng-click="open1()">
                                       <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                            </span>
            </p>


