<div>
    <div class="loginTittle">
        <div>建筑设备报检</div>
        <div style="color: #2baab1">后台管理系统</div>
    </div>
    <div class="loginForm container">
        <div class="row">
            <form class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="form-group m-bottom-md">
                    <input type="text" class="form-control" ng-model="userName" placeholder="用户名">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" ng-model="userPassword" placeholder="密码">
                </div>
                <div class="m-top-md p-top-sm">
                    <button ladda="loginLoading" data-spinner-color="#ffffff" data-spinner-size="30" data-style="zoom-in" ng-click="loginWeb()" style="background-color:#2baab1;width:100%;padding:3px" class="btn btn-success block">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>


