<div class="main-container">
    <div>
        <div >
            <h3 class="header-text m-bottom-sm ">工程管理</h3>
        </div>
        <div class="row">
            <div class="addButton">
                <button class="btn btn-sm btn-success" ng-click="addButtonClick()" type="submit">
                    <span class="fa fa-plus fa-lg"></span>&nbsp添加
                </button>
            </div>
        </div>
        <div class="smart-widget widget-purple" class="form1001">
            <div class="panel-body table-responsive">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>工程名称</th>
                        <th>项目负责人</th>
                        <th>负责人联系电话</th>
                        <th>工程地址</th>
                        <th>施工总承包单位</th>
                        <th>建设单位</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in projectData" class="ng-scope">
                        <td ng-bind="data.name" class="ng-binding"></td>
                        <td ng-bind="data.projectLeader" class="ng-binding"></td>
                        <td ng-bind="data.projectLeaderPhone" class="ng-binding"></td>
                        <td ng-bind="data.address" class="ng-binding"></td>
                        <td ng-bind="data.primaryContractorCompany.name" class="ng-binding"></td>
                        <td ng-bind="data.constructionCompany.name" class="ng-binding"></td>
                        <td>

                            <span class="fa fa-pencil-square-o fa-lg btn  btn-primary marginTB-xs" title="详情" ng-click="onUpdateButtonClick($index)"></span>
                            <span class="fa fa-trash fa-lg btn btn-danger marginTB-xs" title="删除" ng-click="removeButtonClick($index)"></span>

                        </td>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="pull-right">
            <ul class="pagination">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="disabled"><a href="#">‹</a></li>
                <li class="active"><a href="#">1</a></li>
                <li class="disabled"><a href="#">›</a></li>
                <li class="disabled"><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>

